@keyframes fadeController {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.page {
  background: radial-gradient(circle at top, #3b3569 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  display: flex;
  min-height: 100vh;
  max-width: 1440px;
}

.page__content {
  /*background-image: url("../../assets/controller.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 350px 400px;
  -moz-background-size: 350px 400px;
  background-position: top right;
  background-size: 350px 400px;*/
  padding: 39px 147px 0 90px;
  margin: 0 auto;
  justify-content: center;
}

.page__controller {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 400px;
  opacity: 0.8;
  max-width: 1440px;
  animation: fadeController 3s ease-in-out infinite;
  /* Ensure the controller is behind other content */
}
