.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  position: sticky;
}
.navbar__links {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.navbar__logo {
  font-family: "Bitcount Cursive Bold";
  font-size: 24px;
}
.navbar__login {
  height: 40px;
  width: 112px;
  border-radius: 8px;
  background-color: grey;
  color: white;
}

.navbar__register {
  height: 40px;
  width: 112px;
  border-radius: 8px;
  background-color: grey;
  color: white;
}

.navbar__searchBtn {
  background-image: url("../../assets/SearchButton.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
